{% extends 'base.html' %}
{% block title %} {{ post.title_tag }} {% endblock %}



{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
			<div class="card" style="width: 100%;">
				<div class="card-body shadow">
				<h5 class="card-title">{{ post.title }}</h5>
				<p class="card-text">
					<small> By:
						{{ post.author.first_name }}
						{{ post.author.last_name }} -
						{{ post.post_date }} -
					
						{% if user.is_authenticated %}
							<a href="{% url 'delete_post' post.pk %}"> Delete </a>
							
							<a href="{% url 'update_post' post.pk %}"> Edit </a>
						{% endif %}
					
						</small><br/>
					<hr>
					{{ post.body|safe }}
					<br/><br/>
					<a href="{% url 'home' %}" class="btn btn-primary"> Back </a>
					<br/>
					<br/><br/>
					<hr>
					<br/>



					<div class="container">
					<div class="row">
						<div class="col">
						<form action="{% url 'like_post' post.pk %}" method="POST"> 
						{% csrf_token %} 
						<button type="submit", name="post_id", value="{{ post_id }}", class="btn btn-primary btn-sm">Like</button>
					</form>
					<div class="row"></div></div>
						</div>
					</div>

					<!-- Comments -->

					</div>

{% endblock %}
				</p>
				</div>
			</div>
		</div>
	</div>
</div>

<h1> {{ post.title }} </h1>
<small> By:
	{{ post.author.first_name }}
	{{ post.author.last_name }} -
	{{ post.post_date }} -

	{% if user.is_authenticated %}
		<a href="{% url 'delete_post' post.pk %}"> Delete </a>
		
		<a href="{% url 'update_post' post.pk %}"> Edit </a>
	{% endif %}

	</small><br/>
<hr>
<br/>
{{ post.body|safe }}


<br/>   <br/>
<a href="{% url 'home' %}" class="btn btn-secondary"> Back </a>

